*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    color:#171a20;
    font-family: 'M PLUS 1', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.desktop{
    display: none;
}


header{
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 5px 20px;
    position: fixed;
    top:0;
    z-index:2;
    width: 100%;
}
a.logo{
    height:12px;
    width:100px;
    color:inherit;
}
header a{
    color:inherit;
}
header nav a{
    text-decoration:none;
    padding: 5px 10px;
}
header nav.center{
    text-align: center;
}
header nav.right{
    text-align:right;
}

/* ====== Backdrop ====== */

.backdrop{
    display:none;
    position: fixed;
    z-index:3;
    inset: 0;
    background-color: rgba(0,0,0,0);
    transition: background-color .4s ease;
    backdrop-filter: blur(5px);
}
.backdrop.active{
    display:block;
    background-color: rgba(0,0,0,.35);
}

aside{
    position:fixed;
    transition: right .4s ease;
    right:-320px;
    width: 320px;
    background-color:#fff;
    padding:80px 40px;
    z-index:4;
    height:100vh;
}
aside.active{
    right:0;
}
aside a{
    display:block;
    color:inherit;
    text-decoration: none;
    padding: 12px 0;
    font-size: 14px;
    font-weight:500;
}
aside button.close{
    font-size:24px;
    border:0;
    background-color: transparent;
    position: absolute;
    top:10px;
    right:10px;
    padding: 10px;
    font-family: sans-serif;
    font-weight:100;
    cursor:pointer;
}


section{
    height:100vh;
    background-size: cover;
    background-position: center center;
}
section .content{
    opacity:0;
    z-index:1;
    width: 100%;
    top:10;
    transition: opacity .3s ease;
    height:100vh;
    padding-top:16vh;
    text-align:center;
    display:grid;
    grid-template-rows: min-content auto min-content;
}

section.active .content{
    opacity:1;
}
section h1{
    font-size:2.5rem;
    font-weight: 500;
}
section a{
    color:inherit;
}
.buttons{
    display: grid ;
    flex-direction: row;
    width: 600px;
    row-gap: 20px;
    padding-top: 220px;   
}
.content span:nth-child(4){
    bottom: 100px;
}
section .buttons a{
    display:block;
    width: 270px;
    background-color:#eee;
    color:inherit;
    padding: 12px 50px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight:500;
}
section .buttons a:nth-child(2){
    background-color:#444;
    color:#fff;
}

.payment{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.payment span:first-child{
    font-size: 1.3rem;
    font-weight: 500;
}
.payment span:nth-child(2){
    font-size: small;
    font-weight: 500;
    margin-top: -2px;

}

span.discription{
    font-size: small;
    margin-top: 10px;
}




.shopNow{
    width: 270px;
    background-color:#eee;
    color:inherit;
    padding: 12px 100px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight:500;
}

.spBtn{
    margin-top: 190px;
}
footer{
    color: rgb(220, 220, 220);  
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 15px;  
    padding-bottom: 20px;

}
footer a{
    text-decoration: none;
    font-size: small;
    font-weight: 500;
}
@media (min-width: 768px) {
    section .buttons{
        /* max-width: 60px; */
        margin: 0 auto;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        gap: 20px;
    }

}
@media (min-width: 1200px) {
    .desktop{
        display: initial;
    }
}

